@import url('https://fonts.google.com/specimen/Rubik');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.app main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(226, 43%, 10%);
}

.app main .wrapper {
  width: 852px;
  height: 350px;
  margin: auto;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  "user work play study"
  "user exercise social care";
}

.app main .wrapper > div {
  border-radius: 12px;
}

.user {
  grid-area: user;
}

.work {
  grid-area: work;
}

.play {
  grid-area: play;
}

.study {
  grid-area: study;
}

.exercise {
  grid-area: exercise;
}

.social {
  grid-area: social;
}

.care {
  grid-area: care;
}

@media(max-width: 852px) {
  .app main .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    height: auto;
    margin: auto;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    grid-template-areas: 
    "user"
    "work"
    "play"
    "study"
    "exercise"
    "social"
    "care";
  }
}